<mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
           <mat-nav-list>
             <a  mat-list-item *ngFor = "let cats of categories$ | async"  [routerLink]="cats.name"> {{cats.name}} </a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
        <nav mat-tab-nav-bar>
        <a fxHide.xs mat-tab-link *ngFor = "let cats of categories$ | async" [routerLink]="cats.name"> {{cats.name}} </a>
        <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>
        </nav>
        </mat-sidenav-content>
        </mat-sidenav-container>
